@mixin breakpoint($class) {
  @if $class == large-desktop {
    @media only screen and (max-width: (1600px)) {
      @content;
    }
  } @else if $class == desktop {
    @media only screen and (max-width: (1400px)) {
      @content;
    }
  } @else if $class == laptop {
    @media only screen and (max-width: (1200px)) {
      @content;
    }
  } @else if $class == tablet {
    @media only screen and (max-width: (1024px)) {
      @content;
    }
  } @else if $class == small-tablet {
    @media only screen and (max-width: (768px)) {
      @content;
    }
  } @else if $class == mobile {
    @media only screen and (max-width: (640px)) {
      @content;
    }
  } @else if $class == small-mobile {
    @media only screen and (max-width: (576px)) {
      @content;
    }
  } @else if $class == supersmall-mobile {
    @media only screen and (max-width: (370px)) {
      @content;
    }
  }
}

@mixin breakpointMF($class) {
  @if $class == large-desktop {
    @media only screen and (min-width: 1401px) {
      @content;
    }
  } @else if $class == desktop {
    @media only screen and (min-width: 1201px) {
      @content;
    }
  } @else if $class == laptop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  } @else if $class == tablet {
    @media only screen and (min-width: 769px) {
      @content;
    }
  } @else if $class == small-tablet {
    @media only screen and (min-width: 641px) {
      @content;
    }
  } @else if $class == mobile {
    @media only screen and (min-width: 577px) {
      @content;
    }
  }
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.plant-intro {
  margin-bottom: 80px;
  padding-top: 60px;
  @include breakpoint(mobile) {
    margin-bottom: 40px;

    .container {
      display: flex;
      flex-direction: column;
    }
  }
}

.plant-intro__top-row {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 30px;
  align-items: center;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    display: contents;
  }
}

.plant-intro__image {
  justify-self: center;
  max-width: 430px;
  width: 100%;
  height: auto;

  @include breakpoint(mobile) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.plant-intro__general-info {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.plant-intro__main-heading {
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Freight Display Bold", Sans-serif;
  font-size: 46px;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 70px;
  margin-bottom: 30px;

  @include breakpoint(mobile) {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}
.plant-intro__main-heading-small-text {
  font-size: 38px;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 52px;

  @include breakpoint(mobile) {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: "Brown", Sans-serif;
    margin-bottom: 10px;
  }
}

.plant-intro__specs {
  margin-bottom: 40px;

  @include breakpoint(mobile) {
    margin-bottom: 0;
  }
}

.plant-intro__main-heading-fav-link {
  display: none;
  @include breakpoint(mobile) {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    color: transparent;
    transition: color 0.2s;
    margin-left: 5px;
    margin-bottom: 5px;

    &:link,
    &:visited {
      color: transparent;
    }

    &.active {
      color: black;
    }
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: black;
    }
  }
}

.plant-intro__specs-list {
  padding: 0;
  margin: 0;
}

.plant-intro__specs-list-item {
  margin-bottom: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.plant-intro__specs-list-item:last-child {
  margin-bottom: 0;
}

.plant-intro__specs-card {
  font-family: "Brown", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  color: black;
}

.plant-intro__specs-card-key {
  font-weight: 500;
}

.plant-intro__specs-card-value {
}

.plant-intro__buy-now {
  font-family: "Calluna Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  transition: color 0.2s, background-color 0.2s;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  max-width: 260px;
  margin-bottom: 30px;

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 12px 32px;
    max-width: none;
    align-self: center;
    width: auto;
    white-space: nowrap;
    order: 15;
    margin-bottom: 0;
    margin-top: 40px;
  }
}

.plant-intro__buy-now:link,
.plant-intro__buy-now:visited {
  color: white;
}

.plant-intro__buy-now:hover {
  background-color: rgb(243, 192, 147);
  color: black;
}

.plant-intro__wishlist {
  display: inline-flex;
  align-items: center;
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 28px;
  letter-spacing: 1px;
  color: black;
  transition: color 0.2s;

  @include breakpoint(mobile) {
    display: none;
  }
}

.plant-intro__wishlist:link,
.plant-intro__wishlist:visited {
  color: black;
}

.plant-intro__wishlist.active .plant-intro__wishlist-icon {
  color: black;
}

.plant-intro__wishlist:hover {
  color: rgb(243, 192, 147);
}
.plant-intro__wishlist:hover .plant-intro__wishlist-icon svg {
  fill: rgb(243, 192, 147);
}

.plant-intro__wishlist.active:hover .plant-intro__wishlist-icon {
  color: rgb(243, 192, 147);
}

.plant-intro__wishlist-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 15px;
  color: transparent;
  transition: color 0.2s;
}

.plant-intro__wishlist-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: black;
  transition: fill 0.2s;
  margin-top: 2px;
}

.plant-intro__tabs {
  @include breakpoint(mobile) {
    margin: 0 -25px;
    margin-top: 70px;
  }
}

.plant-intro__tabs-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 30px;
  grid-row-gap: 60px;

  @include breakpoint(tablet) {
    grid-template-columns: minmax(0, 1fr);
  }

  @include breakpoint(mobile) {
    position: relative;
    display: block;
    grid-gap: initial;
  }
}

.plant-intro__tabs-item {
  @include breakpoint(mobile) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
      position: relative;
      z-index: 10;
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.plant-intro__tabs-nav {
  display: none;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
    margin-bottom: 5px;
  }
}

.plant-intro__tabs-nav-link-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: auto;
}

.plant-intro__tabs-nav-link {
  position: relative;
  z-index: 1;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 110%;
  color: black;
  font-family: "Selina W08 Calligraphic", sans-serif;
  justify-content: flex-end;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  text-decoration: none;
  &.active {
    &::before {
      height: calc(100% + 5px);
    }
  }

  @supports (aspect-ratio: 1 / 1) {
    min-height: auto;
    aspect-ratio: 1 / 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(0deg, #fefceb, #fefceb);
    z-index: -1;
  }

  &--green {
    &::before {
      background: linear-gradient(0deg, #f0fef7, #f0fef7);
    }
  }

  &--grey {
    &::before {
      background: linear-gradient(
        226.76deg,
        rgba(230, 230, 230, 0.07) 0%,
        rgba(77, 77, 77, 0.07) 100%
      );
    }
  }

  &--lightgreen {
    &::before {
      background: linear-gradient(
        133.24deg,
        rgba(128, 255, 97, 0.1) 0%,
        rgba(36, 254, 65, 0.1) 100%
      );
    }
  }
}

.plant-intro__tabs-item {
  display: flex;
  flex-direction: column;
}

.plant-intro__info-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 60px;
  color: black;
  background-color: #fffde8;

  &--green {
    background-color: #edfef8;
  }

  &--grey {
    background-color: #f8f8f8;
  }

  &--lightgreen {
    background-color: #f1ffee;
  }
  @include breakpoint(mobile) {
    padding: 40px 25px;
  }
}

.plant-intro__info-card-col:nth-child(2) {
  @include breakpointMF(small-tablet) {
    border-left: 2px solid black;
    padding-left: 20px;
  }

  @include breakpoint(mobile) {
    position: relative;
    padding-top: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 270px;
      height: 1px;
      background-color: #000;
      top: 0;
    }
  }
}

.plant-intro__info-card-number {
  width: 38px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f3c093;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Freight Display Bold", Sans-serif;
  font-size: 20px;

  @include breakpoint(mobile) {
    display: none;
  }
}

.plant-intro__info-card-heading {
  font-family: "Selina W08 Calligraphic", sans-serif;
  font-size: 30px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  @include breakpoint(mobile) {
    display: none;
  }
}

.plant-intro__info-card-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 140px);
  grid-gap: 30px;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.plant-intro__info-card-regime {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
  margin-bottom: 30px;
}

.plant-intro__info-card-regime-card-title {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 15px;

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 110%;
    margin-bottom: 10px;
  }
}

.plant-intro__info-card-regime-card-row {
  display: flex;
  align-items: center;
}

.plant-intro__info-card-regime-card-image {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  margin-right: 10px;
}

.plant-intro__info-card-regime-card-content {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.plant-intro__info-card-block-heading {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 34px;
  margin: 0;
  margin-bottom: 20px;

  @include breakpoint(mobile) {
    text-align: center;
    font-size: 16px;
    line-height: 110%;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

.plant-intro__info-card-block-text {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 32px;
  margin-bottom: 35px;

  @include breakpoint(mobile) {
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 20px;
  }
}

.plant-intro__info-card-block-text p {
  margin: 0;
  margin-bottom: 15px;
}

.plant-intro__info-card-block-text p:last-child {
  margin-bottom: 0;
}

.plant-intro__info-card-image {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  z-index: 5;

  @include breakpoint(mobile) {
    display: none;
  }
}

.plant-intro__info-card-dislikes-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint(mobile) {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }
}

.plant-intro__info-card-dislikes-list-item {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include breakpoint(mobile) {
    margin-bottom: 10px;
  }
}

.plant-intro__info-card-dislikes-list-item:last-child {
  margin-bottom: 0;
}

.plant-intro__info-card-dislikes-card {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    flex-direction: row;
    align-items: center;
  }
}

.plant-intro__info-card-dislikes-card-icon {
  width: 80px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 15px;

  @include breakpoint(mobile) {
    width: 75px;
    margin: 0;
    margin-right: 15px;
  }
}

.plant-intro__info-card-block-heading--centered {
  text-align: center;
}

.plant-intro__info-card-dislikes-card-text {
  text-align: center;
  color: var(--e-global-color-text);
  font-family: "Brown", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 22px;

  @include breakpoint(mobile) {
    text-align: left;
  }
}

.plant-intro__info-card-directions {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
}

.plant-intro__info-card-direction-title {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 110%;
    margin-bottom: 15px;
  }
}

.plant-intro__info-card-direction-row {
  display: flex;
  align-items: flex-end;
}

.plant-intro__info-card-direction-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 5px;
}

.plant-intro__info-card-direction-distance {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  white-space: nowrap;
  @include breakpoint(mobile) {
    font-size: 17px;
    line-height: 110%;
    margin-left: -5px;
  }
}

.plant-intro__info-card-water-amount {
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    justify-content: center;
  }
}

.plant-intro__info-card-water-amount-image {
  flex-shrink: 0;
  width: 100px;
  margin-right: 20px;
  height: auto;

  @include breakpoint(mobile) {
    width: 60px;
    margin-right: 20px;
  }
}

.plant-intro__info-card-water-amount-text {
  text-align: left;
  color: var(--e-global-color-text);
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  width: 50%;
  flex-grow: 1;

  @include breakpoint(mobile) {
    font-size: 17px;
    line-height: 120%;
    width: auto;
    flex-grow: 0;
    letter-spacing: 0.05em;
    padding-top: 17px;
  }
}

.plant-intro__info-card-humidity-heading {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 32px;
  margin-bottom: 15px;
  @include breakpoint(mobile) {
    font-size: 17px;
    line-height: 150%;
  }
}

.plant-intro__info-card-humidity-advices {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.plant-intro__info-card-humidity-advice {
  display: flex;
  align-items: center;
}

.plant-intro__info-card-humidity-advice-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 15px;
  object-fit: contain;
}

.plant-intro__info-card-humidity-advice-text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}

.plant-intro__info-card-fertilizers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.plant-intro__info-card-fertilizers-card-heading {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px;
}

.plant-intro__info-card-fertilizers-card-row {
  display: flex;
  align-items: center;
}

.plant-intro__info-card-fertilizers-card-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 15px;
  object-fit: contain;
}

.plant-intro__info-card-fertilizers-card-text {
  width: 50%;
  flex-grow: 1;
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.plant-info {
  margin-bottom: 80px;
}

.plant-info__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
  color: black;
}

.plant-info__wrapper {
  font-size: 19px;
  line-height: 34px;
  font-family: "Brown", Sans-serif;
  font-weight: 300;
  letter-spacing: 0;

  @include breakpoint(mobile) {
    font-size: 17px;
    line-height: 1.3;
  }
}

.plant-info__wrapper p {
  margin-bottom: 30px;

  @include breakpoint(mobile) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.plant-info__wrapper ul,
.plant-info__wrapper ol {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.plant-info__wrapper ol {
  padding-left: 30px;

  @include breakpoint(mobile) {
    padding-left: 20px;
  }

  ul {
    padding-left: 50px;

    @include breakpoint(mobile) {
      padding-left: 0px;
    }
  }
}

.plant-info__wrapper b {
  font-weight: 700;
}

.plant-info__wrapper ul {
  list-style: none;

  li {
    margin-bottom: 5px;
    padding-left: 25px;
    position: relative;

    @include breakpoint(mobile) {
      padding-left: 15px;
    }

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      background-color: #000;
      border-radius: 50%;

      position: absolute;
      left: 0;
      top: 16px;

      @include breakpoint(mobile) {
        width: 6px;
        height: 6px;
        top: 12px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.plant-info__wrapper
  :where(h1:not([class]), h2:not([class]), h3:not([class]), h4:not([class]), h5:not([class]), h6:not([class])) {
  font-weight: bold;
  font-size: 19px;
  line-height: 34px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 30px;

  @include breakpoint(mobile) {
    margin: 20px 0;
    font-size: 17px;
    line-height: 1.3;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plant-info__wrapper :where(img:not([class])) {
  margin: 0 auto;
  height: auto;
  margin-bottom: 30px;
  display: block;
  max-width: 100%;

  @include breakpoint(mobile) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.plant-info__wrapper hr {
  height: 1px;
  width: 100%;
  padding: 0;
  max-width: 100px;
  background-color: #000;
  margin: 50px auto;
  border: none;

  @include breakpoint(mobile) {
    margin: 30px auto;
    max-width: 80px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plant-info__wrapper em {
  font-family: "Selina W08 Calligraphic", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.plant-info__main-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 110%;
  font-family: "Freight Display Bold", Sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @include breakpoint(mobile) {
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 30px;
  }
}

.plant-info__subject {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  text-align: center;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-top: 80px;
  background: linear-gradient(
    133.92deg,
    rgba(249, 229, 52, 0.12) 42.65%,
    rgba(255, 177, 105, 0.12) 97.99%
  );

  @include breakpoint(mobile) {
    min-height: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.plant-info__subject--green {
  background: linear-gradient(
    45.21deg,
    rgba(112, 225, 245, 0.12) 2.64%,
    rgba(106, 255, 139, 0.12) 100%
  );
}

.plant-info__subject--grey {
  background: linear-gradient(
    226.76deg,
    rgba(230, 230, 230, 0.15) 0%,
    rgba(77, 77, 77, 0.15) 100%
  );
}

.plant-info__subject--lightgreen {
  background: linear-gradient(
    133.24deg,
    rgba(128, 255, 97, 0.13) 0%,
    rgba(36, 254, 65, 0.13) 100%
  );
}

.plant-info__subject-icon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 125px;
  height: auto;
  object-fit: contain;

  @include breakpoint(mobile) {
    width: 70px;
  }
}

.plant-info__subject-title {
  font-family: "Selina W08 Calligraphic", sans-serif;
  font-size: 28px;
  line-height: 110%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  @include breakpoint(mobile) {
    font-size: 24px;
  }
}

.plant-info__directions {
  margin-bottom: 30px;
  @include breakpoint(mobile) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.plant-info__directions-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  @include breakpoint(mobile) {
    gap: auto;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.plant-info__directions-card {
}

.plant-info__directions-card-image {
  width: 76px;
  height: auto;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: 40px;
  }
}

.plant-info__directions-card-heading {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  font-family: "Calluna Sans", Sans-serif;

  @include breakpoint(mobile) {
    font-size: 17px;
    margin-bottom: 5px;
  }
}

.plant-info__directions-card-content {
  display: flex;
  align-items: flex-end;
}

.plant-info__directions-card-text {
  font-size: 26px;
  line-height: 110%;
  margin-left: 5px;
  font-weight: 700;
  color: #4d4d4d;

  @include breakpoint(mobile) {
    font-size: 17px;
  }
}

.plant-book {
  margin-bottom: 80px;
  padding: 50px 0;

  background: linear-gradient(
    90deg,
    rgba(247, 148, 30, 0.15) 0%,
    rgba(114, 198, 239, 0.15) 50%,
    rgba(0, 166, 81, 0.15) 100%
  );
  color: black;
  @include breakpoint(mobile) {
    margin-bottom: 40px;
  }
}

.plant-book__row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 450px) minmax(0, 1fr);
  grid-gap: 40px;
  align-items: center;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 30px;
  }
}

.plant-book__image {
  display: block;
  width: 100%;
  height: auto;
}

.plant-book__heading {
  font-family: "Freight Display Bold", Sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 44px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @include breakpoint(mobile) {
    font-size: 32px;
    line-height: 1.2em;
  }
}

.plant-book__text {
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 20px;

  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.plant-book__forces {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;

  @include breakpoint(mobile) {
    gap: 20px;
  }
  img {
    width: 85px;
    height: auto;
    display: block;

    @include breakpoint(mobile) {
      width: 60px;
    }
  }
}

.plant-book__form {
  background-color: #fff;
  border: 1px solid black;
  padding: 30px 60px;
  text-align: center;
  padding-top: 15px;

  @include breakpoint(mobile) {
    padding: 15px;
  }
}

.plant-book__form-heading {
  margin: 0;
  font-family: "Brown", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 28px;
  margin-bottom: 2px;

  @include breakpoint(mobile) {
    margin-bottom: 15px;
  }
}

input.plant-book__form-input {
  display: block;
  width: 100%;
  font-family: "Brown", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  border-bottom: 1px solid black;
  height: 45px;
  margin-bottom: 25px;
  padding: 0;

  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 1.3;
  }
}

.plant-book__form-submit {
  border: none;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Calluna Sans", Sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  outline: none;
  appearance: none;
  text-transform: uppercase;
  border-radius: 0;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background-color: rgb(243, 192, 147);
    color: black;
  }
}
